/*
Aqui pondremos nuestro css personal
*/

/* @media
***************************************************************/
@media (pointer: coarse) and (hover: none) {
    .fondo {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    .fondo video {
        display: none;
    }
}


/* Etiquetas
***************************************************************/
/*
input[type="text"]:valid,
input[type="url"]:valid,
input[type="email"]:valid {
    color: green;
}*/

input[type="text"]:invalid:focus,
input[type="url"]:invalid:focus,
input[type="email"]:invalid:focus {
    color: #e74a3b;
    background-color: #fff;
    border-color: rgba(231, 73, 59, 0.452);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(231, 73, 59, 0.452);
}

table img {
    width: 100px;
    height: 100px;
}

.fondo {
    position: relative;
    background-color: black;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.fondo video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.fondo .card-body {
    position: relative;
    z-index: 2;
}

.fondo .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.5;
    z-index: 1;
}
/* Clases
***************************************************************/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}
/* Identificadores
***************************************************************/